
body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #f3f6fa88, #f7f9fc);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

h1 {
    color: limegreen;
    font-size: 2.5rem;
    margin-bottom: 0.05em;
    text-align: center;
}

.grid {
    border-collapse: collapse;
    width: 90%;        
    max-width: 500px; 
}

td {
    border-collapse: collapse;
}

td:nth-child(3),
td:nth-child(6),
td:nth-child(9) {
    border-right: 3px solid black;
}

tr:nth-child(3) td,
tr:nth-child(6) td,
tr:nth-child(9) td {
    border-bottom: 3px solid black;
}


input {
    width: 100%;          
    aspect-ratio: 1;      
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: 0.2s;
}

input:focus {
    border: 2px solid limegreen;
}

.solver-cell {
    color: black;
    font-weight: bold;
}

.user-cell {
    color: limegreen;
}

.invalid-cell {
    color: red;
    border: 2px solid red;
}

.message {
    margin-top: 2.5px;
    font-weight: bold;
    color: red;
    text-align: center;
}


.button-container {
    display: flex;
    flex-wrap: wrap;      
    margin-top: 1rem;
    gap: 0.76rem;
    justify-content: center;
    width:90%;
}

.btn {
    background-color: linear-gradient(135deg, #f3f6fa52, #f7f9fc);
    color: grey;
    flex: 1 1 120px;      
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    min-width: 80px;
}

#sol_btn {
    background: linear-gradient(135deg, #1baf59c4, #81dbb5);
    color: white;
}

.btn:hover {
    background: linear-gradient(135deg, #d1d5db9a, #e0e7ff80);
}

#sol_btn:hover {
    background: linear-gradient(135deg, #1aa554de, #69e2b0);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    .grid {
        max-width: 100%;
    }

    input {
        font-size: 1rem;
    }

    .button-container {
        gap: 0.5rem;
    }

    .btn {
        flex: 1 1 100px;
        font-size: 0.9rem;
    }
}
